.Reg14 {
  // font: var(--14-regular);
  font-weight: 400;
}

.SemiBold14 {
  // font: var(--14-regular);
  font-weight: 600;
}

.Reg12 {
  // font: var(--12-20-semiBold);
  font-weight: 400;
}

.SemiBold12 {
  // font: var(--12-18-semiBold);
  font-weight: 600;
}