.Button {
  cursor: pointer; 
  border-radius: 4px;
  // display: flex;
  // justify-content: center;
  // gap: 1rem;
  &:disabled {
    cursor: not-allowed;
  }
}

.Quaternary {
  border: 1px solid var(--white);
  background:none;
  padding: 13px 36px 12px;
  color: var(--white);
  fill: var(--white);
  &:not(:disabled):hover{
    color: var(--blue);
    background: var(--white);
  }

  &:disabled {
    color: var(--white);
    fill: var(--white) ;
  }
}

.primary {
  background: var(--blue);
  color: var(--white);
  fill: var(--white) ;
  padding: 13px 36px 12px;
  border: none;
  &:not(:disabled):hover{
    background: var(--gradient);
  }
  &:disabled {
    opacity: 0.6;
  }
}


.secondary {
  border: none;
  background: var(--white);
  color: var(--blue);
  fill: var(--blue);
  padding: 13px 36px 12px;
  border: 1px solid #223DCB;
  &:not(:disabled):hover{
    background: var(--blue);
    color: var(--white);
  }

  &:disabled {
    opacity: 0.6;
  }
}

.large {
  min-width: 2.75rem;
  min-height: 2.75rem;
  font-weight: 700 !important;
  font: var(--P2);
  text-transform: uppercase;
}

.medium {
  min-width: 1.75rem;
  min-height: 1.75rem;
  font-weight: 400 !important;
  font: var(--P2);
  text-transform: uppercase;
}

.iconBefor {
  padding: 10px 36px 10px 32px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.iconOnly {
  padding: 8px 16px;
  text-align: center;
}

.textOnly {
  text-align: center;
}